##############################################################################
# This is the top-level .gitignore file for the WRF model                    #
#                                                                            #
# Filenames and wildcards added below will not be tracked by git in any      #
# directory in the repository                                                #
#                                                                            #
# Ignored file types should include executables, build-time temporary files, #
# and other files which should not ever be added to the code repository.     #
#                                                                            #
# USE CAUTION WHEN ADDING WILDCARDS, as some builds use different filename   #
# conventions than others                                                    #
##############################################################################
*.exe
*.o
*.mod
*.a
configure.wrf*
*.backup
*.f90

# Generated during compilation
/*.log
/*.log.*
Registry/Registry
Registry/io_boilerplate_temporary.inc
compile_wrf.log
external/RSL_LITE/f_pack.f
external/RSL_LITE/f_xpose.f
external/esmf_time_f90/ESMF_Alarm.f
external/esmf_time_f90/ESMF_AlarmClock.f
external/esmf_time_f90/ESMF_Base.f
external/esmf_time_f90/ESMF_BaseTime.f
external/esmf_time_f90/ESMF_Calendar.f
external/esmf_time_f90/ESMF_Clock.f
external/esmf_time_f90/ESMF_Fraction.f
external/esmf_time_f90/ESMF_Mod.f
external/esmf_time_f90/ESMF_Stubs.f
external/esmf_time_f90/ESMF_Time.f
external/esmf_time_f90/ESMF_TimeInterval.f
external/esmf_time_f90/Meat.f
external/esmf_time_f90/module_symbols_util.f
external/esmf_time_f90/module_utility.f
external/io_int/diffwrf
external/io_int/diffwrf.f
external/io_int/io_int.f
external/io_int/io_int_idx_tags.h
external/io_int/module_internal_header_util.f
external/io_int/module_io_int_idx.f
external/io_int/module_io_int_read.f
external/io_int/test_io_idx
external/io_int/test_io_idx.f
external/io_netcdf/diffwrf
external/io_netcdf/diffwrf.f
external/io_netcdf/field_routines.f
external/io_netcdf/module_wrfsi_static.f
external/io_netcdf/wrf_io.f
frame/md_calls.inc
frame/module_dm.F
frame/module_state_description.F
inc/HALO_CUP_G3_IN.inc
inc/HALO_CUP_G3_IN_inline.inc
inc/HALO_CUP_G3_OUT.inc
inc/HALO_CUP_G3_OUT_inline.inc
inc/HALO_EM_A.inc
inc/HALO_EM_A_inline.inc
inc/HALO_EM_B.inc
inc/HALO_EM_B2.inc
inc/HALO_EM_B2_inline.inc
inc/HALO_EM_B_inline.inc
inc/HALO_EM_C.inc
inc/HALO_EM_C2.inc
inc/HALO_EM_C2_inline.inc
inc/HALO_EM_CHEM_E_3.inc
inc/HALO_EM_CHEM_E_3_inline.inc
inc/HALO_EM_CHEM_E_5.inc
inc/HALO_EM_CHEM_E_5_inline.inc
inc/HALO_EM_CHEM_E_7.inc
inc/HALO_EM_CHEM_E_7_inline.inc
inc/HALO_EM_CHEM_OLD_E_3.inc
inc/HALO_EM_CHEM_OLD_E_3_inline.inc
inc/HALO_EM_CHEM_OLD_E_5.inc
inc/HALO_EM_CHEM_OLD_E_5_inline.inc
inc/HALO_EM_CHEM_OLD_E_7.inc
inc/HALO_EM_CHEM_OLD_E_7_inline.inc
inc/HALO_EM_COUPLE_A.inc
inc/HALO_EM_COUPLE_A_inline.inc
inc/HALO_EM_COUPLE_B.inc
inc/HALO_EM_COUPLE_B_inline.inc
inc/HALO_EM_C_inline.inc
inc/HALO_EM_D.inc
inc/HALO_EM_D2_3.inc
inc/HALO_EM_D2_3_inline.inc
inc/HALO_EM_D2_5.inc
inc/HALO_EM_D2_5_inline.inc
inc/HALO_EM_D3_3.inc
inc/HALO_EM_D3_3_inline.inc
inc/HALO_EM_D3_5.inc
inc/HALO_EM_D3_5_inline.inc
inc/HALO_EM_D_inline.inc
inc/HALO_EM_E_3.inc
inc/HALO_EM_E_3_inline.inc
inc/HALO_EM_E_5.inc
inc/HALO_EM_E_5_inline.inc
inc/HALO_EM_F.inc
inc/HALO_EM_FDDA.inc
inc/HALO_EM_FDDA_SFC.inc
inc/HALO_EM_FDDA_SFC_inline.inc
inc/HALO_EM_FDDA_inline.inc
inc/HALO_EM_FEEDBACK.inc
inc/HALO_EM_FEEDBACK_inline.inc
inc/HALO_EM_F_inline.inc
inc/HALO_EM_HELICITY.inc
inc/HALO_EM_HELICITY_inline.inc
inc/HALO_EM_HORIZ_INTERP.inc
inc/HALO_EM_HORIZ_INTERP_inline.inc
inc/HALO_EM_HYDRO_NOAHMP.inc
inc/HALO_EM_HYDRO_NOAHMP_INIT.inc
inc/HALO_EM_HYDRO_NOAHMP_INIT_inline.inc
inc/HALO_EM_HYDRO_NOAHMP_inline.inc
inc/HALO_EM_HYDRO_UV.inc
inc/HALO_EM_HYDRO_UV_inline.inc
inc/HALO_EM_INIT_1.inc
inc/HALO_EM_INIT_1_inline.inc
inc/HALO_EM_INIT_2.inc
inc/HALO_EM_INIT_2_inline.inc
inc/HALO_EM_INIT_3.inc
inc/HALO_EM_INIT_3_inline.inc
inc/HALO_EM_INIT_4.inc
inc/HALO_EM_INIT_4_inline.inc
inc/HALO_EM_INIT_5.inc
inc/HALO_EM_INIT_5_inline.inc
inc/HALO_EM_INIT_6.inc
inc/HALO_EM_INIT_6_inline.inc
inc/HALO_EM_MOIST_E_3.inc
inc/HALO_EM_MOIST_E_3_inline.inc
inc/HALO_EM_MOIST_E_5.inc
inc/HALO_EM_MOIST_E_5_inline.inc
inc/HALO_EM_MOIST_E_7.inc
inc/HALO_EM_MOIST_E_7_inline.inc
inc/HALO_EM_MOIST_OLD_E_3.inc
inc/HALO_EM_MOIST_OLD_E_3_inline.inc
inc/HALO_EM_MOIST_OLD_E_5.inc
inc/HALO_EM_MOIST_OLD_E_5_inline.inc
inc/HALO_EM_MOIST_OLD_E_7.inc
inc/HALO_EM_MOIST_OLD_E_7_inline.inc
inc/HALO_EM_NBA_MIJ.inc
inc/HALO_EM_NBA_MIJ_inline.inc
inc/HALO_EM_NBA_RIJ.inc
inc/HALO_EM_NBA_RIJ_inline.inc
inc/HALO_EM_PHYS_A.inc
inc/HALO_EM_PHYS_A_inline.inc
inc/HALO_EM_PHYS_CU.inc
inc/HALO_EM_PHYS_CU_inline.inc
inc/HALO_EM_PHYS_DIFFUSION.inc
inc/HALO_EM_PHYS_DIFFUSION_inline.inc
inc/HALO_EM_PHYS_PBL.inc
inc/HALO_EM_PHYS_PBL_inline.inc
inc/HALO_EM_PHYS_SHCU.inc
inc/HALO_EM_PHYS_SHCU_inline.inc
inc/HALO_EM_PHYS_W.inc
inc/HALO_EM_PHYS_W_inline.inc
inc/HALO_EM_SBM.inc
inc/HALO_EM_SBM_inline.inc
inc/HALO_EM_SCALAR_E_3.inc
inc/HALO_EM_SCALAR_E_3_inline.inc
inc/HALO_EM_SCALAR_E_5.inc
inc/HALO_EM_SCALAR_E_5_inline.inc
inc/HALO_EM_SCALAR_E_7.inc
inc/HALO_EM_SCALAR_E_7_inline.inc
inc/HALO_EM_SCALAR_OLD_E_3.inc
inc/HALO_EM_SCALAR_OLD_E_3_inline.inc
inc/HALO_EM_SCALAR_OLD_E_5.inc
inc/HALO_EM_SCALAR_OLD_E_5_inline.inc
inc/HALO_EM_SCALAR_OLD_E_7.inc
inc/HALO_EM_SCALAR_OLD_E_7_inline.inc
inc/HALO_EM_TKE_3.inc
inc/HALO_EM_TKE_3_inline.inc
inc/HALO_EM_TKE_5.inc
inc/HALO_EM_TKE_5_inline.inc
inc/HALO_EM_TKE_7.inc
inc/HALO_EM_TKE_7_inline.inc
inc/HALO_EM_TKE_A.inc
inc/HALO_EM_TKE_ADVECT_3.inc
inc/HALO_EM_TKE_ADVECT_3_inline.inc
inc/HALO_EM_TKE_ADVECT_5.inc
inc/HALO_EM_TKE_ADVECT_5_inline.inc
inc/HALO_EM_TKE_A_inline.inc
inc/HALO_EM_TKE_B.inc
inc/HALO_EM_TKE_B_inline.inc
inc/HALO_EM_TKE_C.inc
inc/HALO_EM_TKE_C_inline.inc
inc/HALO_EM_TKE_D.inc
inc/HALO_EM_TKE_D_inline.inc
inc/HALO_EM_TKE_E.inc
inc/HALO_EM_TKE_E_inline.inc
inc/HALO_EM_TKE_OLD_E_5.inc
inc/HALO_EM_TKE_OLD_E_5_inline.inc
inc/HALO_EM_TKE_OLD_E_7.inc
inc/HALO_EM_TKE_OLD_E_7_inline.inc
inc/HALO_EM_TRACER_E_3.inc
inc/HALO_EM_TRACER_E_3_inline.inc
inc/HALO_EM_TRACER_E_5.inc
inc/HALO_EM_TRACER_E_5_inline.inc
inc/HALO_EM_TRACER_E_7.inc
inc/HALO_EM_TRACER_E_7_inline.inc
inc/HALO_EM_TRACER_OLD_E_3.inc
inc/HALO_EM_TRACER_OLD_E_3_inline.inc
inc/HALO_EM_TRACER_OLD_E_5.inc
inc/HALO_EM_TRACER_OLD_E_5_inline.inc
inc/HALO_EM_TRACER_OLD_E_7.inc
inc/HALO_EM_TRACER_OLD_E_7_inline.inc
inc/HALO_EM_VINTERP_UV_1.inc
inc/HALO_EM_VINTERP_UV_1_inline.inc
inc/HALO_FIRE_FUEL.inc
inc/HALO_FIRE_FUEL_inline.inc
inc/HALO_FIRE_HT.inc
inc/HALO_FIRE_HT_inline.inc
inc/HALO_FIRE_LFN.inc
inc/HALO_FIRE_LFN_inline.inc
inc/HALO_FIRE_LONGLAT.inc
inc/HALO_FIRE_LONGLAT_inline.inc
inc/HALO_FIRE_PH.inc
inc/HALO_FIRE_PHB.inc
inc/HALO_FIRE_PHB_inline.inc
inc/HALO_FIRE_PH_inline.inc
inc/HALO_FIRE_TIGN.inc
inc/HALO_FIRE_TIGN_inline.inc
inc/HALO_FIRE_WIND_A.inc
inc/HALO_FIRE_WIND_A_inline.inc
inc/HALO_FIRE_WIND_F.inc
inc/HALO_FIRE_WIND_F_inline.inc
inc/HALO_FIRE_Z0.inc
inc/HALO_FIRE_Z0_inline.inc
inc/HALO_FIRE_ZSF.inc
inc/HALO_FIRE_ZSF_inline.inc
inc/HALO_FORCE_DOWN.inc
inc/HALO_FORCE_DOWN_inline.inc
inc/HALO_INTERP_DOWN.inc
inc/HALO_INTERP_DOWN_inline.inc
inc/HALO_INTERP_SMOOTH.inc
inc/HALO_INTERP_SMOOTH_inline.inc
inc/HALO_INTERP_UP.inc
inc/HALO_INTERP_UP_inline.inc
inc/HALO_OBS_NUDGE.inc
inc/HALO_OBS_NUDGE_inline.inc
inc/HALO_PWP.inc
inc/HALO_PWP_inline.inc
inc/HALO_TOPOSHAD.inc
inc/HALO_TOPOSHAD_inline.inc
inc/PERIOD_BDY_EM_A.inc
inc/PERIOD_BDY_EM_A1.inc
inc/PERIOD_BDY_EM_A1_inline.inc
inc/PERIOD_BDY_EM_A_inline.inc
inc/PERIOD_BDY_EM_B.inc
inc/PERIOD_BDY_EM_B2.inc
inc/PERIOD_BDY_EM_B2_inline.inc
inc/PERIOD_BDY_EM_B3.inc
inc/PERIOD_BDY_EM_B3_inline.inc
inc/PERIOD_BDY_EM_B_inline.inc
inc/PERIOD_BDY_EM_C.inc
inc/PERIOD_BDY_EM_CHEM.inc
inc/PERIOD_BDY_EM_CHEM2.inc
inc/PERIOD_BDY_EM_CHEM2_inline.inc
inc/PERIOD_BDY_EM_CHEM_OLD.inc
inc/PERIOD_BDY_EM_CHEM_OLD_inline.inc
inc/PERIOD_BDY_EM_CHEM_inline.inc
inc/PERIOD_BDY_EM_C_inline.inc
inc/PERIOD_BDY_EM_D.inc
inc/PERIOD_BDY_EM_D3.inc
inc/PERIOD_BDY_EM_D3_inline.inc
inc/PERIOD_BDY_EM_D_inline.inc
inc/PERIOD_BDY_EM_E.inc
inc/PERIOD_BDY_EM_E_inline.inc
inc/PERIOD_BDY_EM_FDDA_BC.inc
inc/PERIOD_BDY_EM_FDDA_BC_inline.inc
inc/PERIOD_BDY_EM_INIT.inc
inc/PERIOD_BDY_EM_INIT_inline.inc
inc/PERIOD_BDY_EM_MOIST.inc
inc/PERIOD_BDY_EM_MOIST2.inc
inc/PERIOD_BDY_EM_MOIST2_inline.inc
inc/PERIOD_BDY_EM_MOIST_OLD.inc
inc/PERIOD_BDY_EM_MOIST_OLD_inline.inc
inc/PERIOD_BDY_EM_MOIST_inline.inc
inc/PERIOD_BDY_EM_PHY_BC.inc
inc/PERIOD_BDY_EM_PHY_BC_inline.inc
inc/PERIOD_BDY_EM_SCALAR.inc
inc/PERIOD_BDY_EM_SCALAR2.inc
inc/PERIOD_BDY_EM_SCALAR2_inline.inc
inc/PERIOD_BDY_EM_SCALAR_OLD.inc
inc/PERIOD_BDY_EM_SCALAR_OLD_inline.inc
inc/PERIOD_BDY_EM_SCALAR_inline.inc
inc/PERIOD_BDY_EM_TKE.inc
inc/PERIOD_BDY_EM_TKE_OLD.inc
inc/PERIOD_BDY_EM_TKE_OLD_inline.inc
inc/PERIOD_BDY_EM_TKE_inline.inc
inc/PERIOD_BDY_EM_TRACER.inc
inc/PERIOD_BDY_EM_TRACER2.inc
inc/PERIOD_BDY_EM_TRACER2_inline.inc
inc/PERIOD_BDY_EM_TRACER_OLD.inc
inc/PERIOD_BDY_EM_TRACER_OLD_inline.inc
inc/PERIOD_BDY_EM_TRACER_inline.inc
inc/PERIOD_EM_COUPLE_A.inc
inc/PERIOD_EM_COUPLE_A_inline.inc
inc/PERIOD_EM_COUPLE_B.inc
inc/PERIOD_EM_COUPLE_B_inline.inc
inc/PERIOD_EM_DA.inc
inc/PERIOD_EM_DA_inline.inc
inc/PERIOD_EM_HYDRO_UV.inc
inc/PERIOD_EM_HYDRO_UV_inline.inc
inc/PERIOD_EM_NBA_MIJ.inc
inc/PERIOD_EM_NBA_MIJ_inline.inc
inc/PERIOD_EM_NBA_RIJ.inc
inc/PERIOD_EM_NBA_RIJ_inline.inc
inc/REGISTRY_COMM_DM_0_subs.inc
inc/REGISTRY_COMM_DM_1_subs.inc
inc/REGISTRY_COMM_DM_2_subs.inc
inc/REGISTRY_COMM_DM_3_subs.inc
inc/REGISTRY_COMM_DM_PERIOD_subs.inc
inc/REGISTRY_COMM_DM_subs.inc
inc/REGISTRY_COMM_NESTING_DM_subs.inc
inc/SHIFT_HALO.inc
inc/SHIFT_HALO_inline.inc
inc/XPOSE_POLAR_FILTER_CHEM_x2y.inc
inc/XPOSE_POLAR_FILTER_CHEM_x2z.inc
inc/XPOSE_POLAR_FILTER_CHEM_y2x.inc
inc/XPOSE_POLAR_FILTER_CHEM_y2z.inc
inc/XPOSE_POLAR_FILTER_CHEM_z2x.inc
inc/XPOSE_POLAR_FILTER_CHEM_z2y.inc
inc/XPOSE_POLAR_FILTER_MOIST_x2y.inc
inc/XPOSE_POLAR_FILTER_MOIST_x2z.inc
inc/XPOSE_POLAR_FILTER_MOIST_y2x.inc
inc/XPOSE_POLAR_FILTER_MOIST_y2z.inc
inc/XPOSE_POLAR_FILTER_MOIST_z2x.inc
inc/XPOSE_POLAR_FILTER_MOIST_z2y.inc
inc/XPOSE_POLAR_FILTER_PH_x2y.inc
inc/XPOSE_POLAR_FILTER_PH_x2z.inc
inc/XPOSE_POLAR_FILTER_PH_y2x.inc
inc/XPOSE_POLAR_FILTER_PH_y2z.inc
inc/XPOSE_POLAR_FILTER_PH_z2x.inc
inc/XPOSE_POLAR_FILTER_PH_z2y.inc
inc/XPOSE_POLAR_FILTER_RU_x2y.inc
inc/XPOSE_POLAR_FILTER_RU_x2z.inc
inc/XPOSE_POLAR_FILTER_RU_y2x.inc
inc/XPOSE_POLAR_FILTER_RU_y2z.inc
inc/XPOSE_POLAR_FILTER_RU_z2x.inc
inc/XPOSE_POLAR_FILTER_RU_z2y.inc
inc/XPOSE_POLAR_FILTER_RV_x2y.inc
inc/XPOSE_POLAR_FILTER_RV_x2z.inc
inc/XPOSE_POLAR_FILTER_RV_y2x.inc
inc/XPOSE_POLAR_FILTER_RV_y2z.inc
inc/XPOSE_POLAR_FILTER_RV_z2x.inc
inc/XPOSE_POLAR_FILTER_RV_z2y.inc
inc/XPOSE_POLAR_FILTER_SCALAR_x2y.inc
inc/XPOSE_POLAR_FILTER_SCALAR_x2z.inc
inc/XPOSE_POLAR_FILTER_SCALAR_y2x.inc
inc/XPOSE_POLAR_FILTER_SCALAR_y2z.inc
inc/XPOSE_POLAR_FILTER_SCALAR_z2x.inc
inc/XPOSE_POLAR_FILTER_SCALAR_z2y.inc
inc/XPOSE_POLAR_FILTER_TOPO_x2y.inc
inc/XPOSE_POLAR_FILTER_TOPO_x2z.inc
inc/XPOSE_POLAR_FILTER_TOPO_y2x.inc
inc/XPOSE_POLAR_FILTER_TOPO_y2z.inc
inc/XPOSE_POLAR_FILTER_TOPO_z2x.inc
inc/XPOSE_POLAR_FILTER_TOPO_z2y.inc
inc/XPOSE_POLAR_FILTER_TRACER_x2y.inc
inc/XPOSE_POLAR_FILTER_TRACER_x2z.inc
inc/XPOSE_POLAR_FILTER_TRACER_y2x.inc
inc/XPOSE_POLAR_FILTER_TRACER_y2z.inc
inc/XPOSE_POLAR_FILTER_TRACER_z2x.inc
inc/XPOSE_POLAR_FILTER_TRACER_z2y.inc
inc/XPOSE_POLAR_FILTER_T_x2y.inc
inc/XPOSE_POLAR_FILTER_T_x2z.inc
inc/XPOSE_POLAR_FILTER_T_y2x.inc
inc/XPOSE_POLAR_FILTER_T_y2z.inc
inc/XPOSE_POLAR_FILTER_T_z2x.inc
inc/XPOSE_POLAR_FILTER_T_z2y.inc
inc/XPOSE_POLAR_FILTER_U_x2y.inc
inc/XPOSE_POLAR_FILTER_U_x2z.inc
inc/XPOSE_POLAR_FILTER_U_y2x.inc
inc/XPOSE_POLAR_FILTER_U_y2z.inc
inc/XPOSE_POLAR_FILTER_U_z2x.inc
inc/XPOSE_POLAR_FILTER_U_z2y.inc
inc/XPOSE_POLAR_FILTER_V_x2y.inc
inc/XPOSE_POLAR_FILTER_V_x2z.inc
inc/XPOSE_POLAR_FILTER_V_y2x.inc
inc/XPOSE_POLAR_FILTER_V_y2z.inc
inc/XPOSE_POLAR_FILTER_V_z2x.inc
inc/XPOSE_POLAR_FILTER_V_z2y.inc
inc/XPOSE_POLAR_FILTER_WW_x2y.inc
inc/XPOSE_POLAR_FILTER_WW_x2z.inc
inc/XPOSE_POLAR_FILTER_WW_y2x.inc
inc/XPOSE_POLAR_FILTER_WW_y2z.inc
inc/XPOSE_POLAR_FILTER_WW_z2x.inc
inc/XPOSE_POLAR_FILTER_WW_z2y.inc
inc/XPOSE_POLAR_FILTER_W_x2y.inc
inc/XPOSE_POLAR_FILTER_W_x2z.inc
inc/XPOSE_POLAR_FILTER_W_y2x.inc
inc/XPOSE_POLAR_FILTER_W_y2z.inc
inc/XPOSE_POLAR_FILTER_W_z2x.inc
inc/XPOSE_POLAR_FILTER_W_z2y.inc
inc/XPOSE_SPECTRAL_NUDGING_x2y.inc
inc/XPOSE_SPECTRAL_NUDGING_x2z.inc
inc/XPOSE_SPECTRAL_NUDGING_y2x.inc
inc/XPOSE_SPECTRAL_NUDGING_y2z.inc
inc/XPOSE_SPECTRAL_NUDGING_z2x.inc
inc/XPOSE_SPECTRAL_NUDGING_z2y.inc
inc/XPOSE_STOCH_BACK_T_IMAG_x2y.inc
inc/XPOSE_STOCH_BACK_T_IMAG_x2z.inc
inc/XPOSE_STOCH_BACK_T_IMAG_y2x.inc
inc/XPOSE_STOCH_BACK_T_IMAG_y2z.inc
inc/XPOSE_STOCH_BACK_T_IMAG_z2x.inc
inc/XPOSE_STOCH_BACK_T_IMAG_z2y.inc
inc/XPOSE_STOCH_BACK_T_REAL_x2y.inc
inc/XPOSE_STOCH_BACK_T_REAL_x2z.inc
inc/XPOSE_STOCH_BACK_T_REAL_y2x.inc
inc/XPOSE_STOCH_BACK_T_REAL_y2z.inc
inc/XPOSE_STOCH_BACK_T_REAL_z2x.inc
inc/XPOSE_STOCH_BACK_T_REAL_z2y.inc
inc/XPOSE_STOCH_BACK_U_IMAG_x2y.inc
inc/XPOSE_STOCH_BACK_U_IMAG_x2z.inc
inc/XPOSE_STOCH_BACK_U_IMAG_y2x.inc
inc/XPOSE_STOCH_BACK_U_IMAG_y2z.inc
inc/XPOSE_STOCH_BACK_U_IMAG_z2x.inc
inc/XPOSE_STOCH_BACK_U_IMAG_z2y.inc
inc/XPOSE_STOCH_BACK_U_REAL_x2y.inc
inc/XPOSE_STOCH_BACK_U_REAL_x2z.inc
inc/XPOSE_STOCH_BACK_U_REAL_y2x.inc
inc/XPOSE_STOCH_BACK_U_REAL_y2z.inc
inc/XPOSE_STOCH_BACK_U_REAL_z2x.inc
inc/XPOSE_STOCH_BACK_U_REAL_z2y.inc
inc/XPOSE_STOCH_BACK_V_IMAG_x2y.inc
inc/XPOSE_STOCH_BACK_V_IMAG_x2z.inc
inc/XPOSE_STOCH_BACK_V_IMAG_y2x.inc
inc/XPOSE_STOCH_BACK_V_IMAG_y2z.inc
inc/XPOSE_STOCH_BACK_V_IMAG_z2x.inc
inc/XPOSE_STOCH_BACK_V_IMAG_z2y.inc
inc/XPOSE_STOCH_BACK_V_REAL_x2y.inc
inc/XPOSE_STOCH_BACK_V_REAL_x2z.inc
inc/XPOSE_STOCH_BACK_V_REAL_y2x.inc
inc/XPOSE_STOCH_BACK_V_REAL_y2z.inc
inc/XPOSE_STOCH_BACK_V_REAL_z2x.inc
inc/XPOSE_STOCH_BACK_V_REAL_z2y.inc
inc/actual_args.inc
inc/actual_new_args.inc
inc/allocs.inc
inc/check_auxstream_alarms.inc
inc/config_assigns.inc
inc/config_reads.inc
inc/data_calls.inc
inc/deallocs.inc
inc/dm_comm_cpp_flags
inc/dummy_args.inc
inc/dummy_decl.inc
inc/dummy_new_args.inc
inc/dummy_new_decl.inc
inc/fine_stream_input.inc
inc/i1_decl.inc
inc/in_use_for_config_ac.inc
inc/in_use_for_config_df.inc
inc/in_use_for_config_gk.inc
inc/in_use_for_config_ln.inc
inc/in_use_for_config_os.inc
inc/in_use_for_config_tw.inc
inc/in_use_for_config_xz.inc
inc/io_form_for_dataset.inc
inc/io_form_for_stream.inc
inc/med_auxinput_in.inc
inc/med_auxinput_in_closes.inc
inc/med_find_esmf_coupling.inc
inc/med_hist_out_closes.inc
inc/med_hist_out_opens.inc
inc/med_last_solve_io.inc
inc/med_open_esmf_calls.inc
inc/model_data_order.inc
inc/module_io_domain_defs.inc
inc/namelist_defaults.inc
inc/namelist_defines.inc
inc/namelist_defines2.inc
inc/namelist_nametest.inc
inc/namelist_script.inc
inc/namelist_statements.inc
inc/nest_feedbackup_interp.inc
inc/nest_feedbackup_pack.inc
inc/nest_feedbackup_smooth.inc
inc/nest_feedbackup_unpack.inc
inc/nest_forcedown_interp.inc
inc/nest_forcedown_interp_vert.inc
inc/nest_forcedown_pack.inc
inc/nest_forcedown_unpack.inc
inc/nest_interpdown_interp.inc
inc/nest_interpdown_interp_vert.inc
inc/nest_interpdown_pack.inc
inc/nest_interpdown_unpack.inc
inc/nl_config.inc
inc/scalar_derefs.inc
inc/scalar_indices.inc
inc/scalar_indices_init.inc
inc/scalar_tables.inc
inc/scalar_tables_init.inc
inc/set_timekeeping_alarms.inc
inc/set_timekeeping_defs.inc
inc/shift_halo_x.inc
inc/shift_halo_y.inc
inc/shutdown_closes.inc
inc/state_struct.inc
inc/state_subtypes.inc
inc/switches_and_alarms.inc
inc/wrf_bdyin.inc
inc/wrf_bdyout.inc
inc/wrf_io_flags.h
inc/wrf_status_codes.h
inc/write_ddt.inc
run/namelist.input
test/em_real/CAM_ABS_DATA
test/em_real/CAM_AEROPT_DATA
test/em_real/CAMtr_volume_mixing_ratio
test/em_real/CAMtr_volume_mixing_ratio.A1B
test/em_real/CAMtr_volume_mixing_ratio.A2
test/em_real/CAMtr_volume_mixing_ratio.RCP4.5
test/em_real/CAMtr_volume_mixing_ratio.RCP6
test/em_real/CCN_ACTIVATE.BIN
test/em_real/CLM_ALB_ICE_DFS_DATA
test/em_real/CLM_ALB_ICE_DRC_DATA
test/em_real/CLM_ASM_ICE_DFS_DATA
test/em_real/CLM_ASM_ICE_DRC_DATA
test/em_real/CLM_DRDSDT0_DATA
test/em_real/CLM_EXT_ICE_DFS_DATA
test/em_real/CLM_EXT_ICE_DRC_DATA
test/em_real/CLM_KAPPA_DATA
test/em_real/CLM_TAU_DATA
test/em_real/ETAMPNEW_DATA
test/em_real/ETAMPNEW_DATA.expanded_rain
test/em_real/GENPARM.TBL
test/em_real/LANDUSE.TBL
test/em_real/MPTABLE.TBL
test/em_real/README.namelist
test/em_real/RRTMG_LW_DATA
test/em_real/RRTMG_SW_DATA
test/em_real/RRTM_DATA
test/em_real/SOILPARM.TBL
test/em_real/URBPARM.TBL
test/em_real/VEGPARM.TBL
test/em_real/aerosol.formatted
test/em_real/aerosol_lat.formatted
test/em_real/aerosol_lon.formatted
test/em_real/aerosol_plev.formatted
test/em_real/bulkdens.asc_s_0_03_0_9
test/em_real/bulkradii.asc_s_0_03_0_9
test/em_real/capacity.asc
test/em_real/coeff_p.asc
test/em_real/coeff_q.asc
test/em_real/constants.asc
test/em_real/grib2map.tbl
test/em_real/gribmap.txt
test/em_real/kernels.asc_s_0_03_0_9
test/em_real/kernels_z.asc
test/em_real/masses.asc
test/em_real/ozone.formatted
test/em_real/ozone_lat.formatted
test/em_real/ozone_plev.formatted
test/em_real/termvels.asc
test/em_real/tr49t67
test/em_real/tr49t85
test/em_real/tr67t85
tools/fseeko64_test
tools/fseeko_test
tools/gen_comms.c
tools/registry
